/********* Login Section *********/
#login {
  height: 100vh;
  width: 100%;
  background-color: var(--light-color);
  /* background-image: url(img/back5.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow-x: hidden;
}
#login main {
  height: 60vh;
  min-width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: white */
  background-color: /*var(--main-color);*/ rgba(42, 5, 51, 0.5);
  box-shadow: 0.2rem 0.2rem 2rem black;
  overflow: hidden;
}
.split {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100%;
  width: 100%;
}
#avatar {
  height: 25%;
  background-color: rgba(0, 0, 0, 0.473);
  display: flex;
  justify-content: center;
}
#avatar img {
  height: 100%;
  width: auto;
}
#login form {
  color: white;
  font-size: 1.5rem;
  padding: 1rem 3rem;
}
#login form > div {
  flex-direction: row;
  padding: 0.5rem;
}
#login form input {
  height: 3rem;
  width: 65%;
  padding: 0.3rem;
}
#login form label {
  height: 3rem;
  width: 35%;
  font-size: clamp(1.5vw, 2rem, 2vh);
}
#login form :nth-child(3) {
  justify-content: center;
}
#login form button {
  background-color: var(--light-color);
  border: none;
  width: max-content;
  height: max-content;
  padding: 1rem 1.5rem;
  margin-right: 1rem;
  font-weight: bold;
  font-size: clamp(1.5rem, 3vw, 2vh);
  box-shadow: 0.1rem 0.1rem 0.8rem white;
  color: var(--dark-color);
  cursor: pointer;
}
#login form a {
  color: var(--light-color);
}
/** Media Query */
@media (max-width: 50em) {
  #login form {
    padding: 1rem;
  }
  #login form > div {
    justify-content: space-between;
  }
  #login form input {
    width: auto;
  }
  #login form label {
    width: 20%;
  }
}
